{#
/**
 * @file
 * Template for Navbar component.
 *
 * Available config:
 * - container: fixed | fluid.
 * - placement: default | fixed-top | fixed-bottom | sticky-top
 * - color: light | dark
 * - utility_classes: An array of utility classes.
 *
 * Available blocks:
 * - branding
 * - left
 * - right
 */
#}
{#{ attach_library('radix/navbar') }#}

{#% set container = container == 'fixed' ? 'container' : false %#}
{#% set placement = placement ?? '' %#}
{#% set color = color ?? 'light' %#}

  <div class="col-md-6 text-left match-height">
    {% block subfoot_left %}
      {{ subfoot_left }}
    {% endblock %}
  </div>
    
  <div class="col-md-6 text-right match-height">
    <div class="vertical-center">  
      {% block subfoot_right %}
        {{ subfoot_right }}
      {% endblock %}
    </div>
  </div>